<body>
    <app-header></app-header>
        <main>
            <h2 class="home-welcome">Bem vindo(a) {{ role }} </h2>
            <div class="home-options" routerLink="/produtos">
                <h3>PRODUTOS</h3>
                <mat-icon class="icons">menu</mat-icon>
            </div>
            <div class="home-options" routerLink="/funcionarios">
                <h3>COLABORADORES</h3>
                <mat-icon class="icons">people</mat-icon>
            </div>
          </main>
    </body>