<div class="order-summary">
  <h2>Resumo do Pedido</h2>
  
  <form class="customer-data">
  <input type="text" class="customer-name" name="name" [(ngModel)]="customerName" placeholder="Nome do Cliente">
  <select class="customer-table" name="tableNumber" [(ngModel)]="tableNumber">
    <option [ngValue]="null">Mesa {{ tableNumber}}</option>
    <option *ngFor="let table of availableTable" [ngValue]="table">{{ table }}</option>
  </select>
  </form>
  
  
  <div class="order-description"><h4>Item</h4><h4>Preço</h4><h4>Qtd</h4></div>
  <div class="items-container">

  <div *ngFor="let item of orderService.getCartItems(); let i = index" class="summary-item">
    <div class="order-categories"><h4>{{ item.name }}</h4><h4>R$ {{ item.price }} </h4><h4>{{ item.quantity }}</h4>
    <div class="btn-container">
    <button (click)="orderService.increaseQuantity(i)"><mat-icon>add</mat-icon></button>
    <button (click)="orderService.decreaseQuantity(i)"><mat-icon>remove</mat-icon></button>
    <button (click)="removeItem(i)"><mat-icon>delete</mat-icon></button>
    </div>
    </div>
  </div>
</div>

   <p class="total">Total: {{ calculateTotal() |  currency:'BRL' }}</p>
   <button class="enviar-pedido"(click)="placeOrder(customerName, tableNumber!)">Enviar Pedido</button>

</div>

  <!-- Alerta pós envio do pedido para a cozinha -->
  <div class="alert-modal" [hidden]="!isOrderAlertVisible">
    <div class="alert-content">
      <p>O pedido foi enviado para a cozinha!</p>
      <button (click)="closeOrderAlert()">Fechar</button>
    </div>
  </div>
  
