<div class="order-summary">
  <h2>Resumo do Pedido</h2>

  <div class="customer-data">
  <label for="name">Cliente:</label>
  <input type="text" id="name" name="name" [(ngModel)]="customerName">
  <label for="tableNumber">Número da Mesa:</label>
  <select id="tableNumber" name="tableNumber" [(ngModel)]="tableNumber">
  <option *ngFor="let table of availableTable" [value]="table">{{ table }}</option>
  </select>
  </div>
  
  <div class="order-description"><h4>Item</h4><h4>Preço</h4><h4>Qtd</h4></div>
  
  <div *ngFor="let item of cartService.getCartItems(); let i = index" class="summary-item">
    <div class="order-categories"><h4>{{ item.name }}</h4><h4>R$ {{ item.price }} </h4><h4>{{ item.quantity }}</h4>
    <div class="btn-container">
    <button (click)="cartService.increaseQuantity(i)"><mat-icon>add</mat-icon></button>
    <button (click)="cartService.decreaseQuantity(i)"><mat-icon>remove</mat-icon></button>
    <button (click)="removeItem(i)"><mat-icon>delete</mat-icon></button>
    </div>
    </div>
  </div>

   <p class="total">Total: {{ calculateTotal() |  currency:'BRL' }}</p>

</div>

  
