h2{
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.summary-item {
display: grid;
}

.order-description, .order-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin: 2%;
  background-color: #ff6347;
  border-radius: 8px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  background-color: #ff6347;
  padding: 5px;
  grid-column-start: 2;
}

.btn-container button {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #fff;
  border: none;
  margin: 5%;
  align-self: center;
  border-radius: 50%;
}

.total{
  text-align: center;
  background-color: #ff6347;
  color: #fff;
  margin: 30%;
  font-size: large;
  border-radius: 8px;
  min-width: 15px;

}
.customer-data {
  text-align: center;
  display: block;
  margin: 1%;
}

.customer-name, .customer-table{
  border-radius: 6px;
  background-color: #fff;
  margin: 5%;
}


@media screen and (max-width: 539px) {
  .order-categories{
   display: inline-block;
  }
  .order-description {
    display: none;
  }
  .customer-name {
    max-width: 100px;
  }
}
