h2{
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.customer-data {
  display: flex;
  flex-direction:row;
  width: 100%;
}

.order-summary {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.items-container:hover {
  overflow-y: scroll;
}


.order-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin: 2%;
  padding: 10px;
  background-color: #ff6347;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-name  {
  width: 150px;
}
.item-price, .item-qtd {
  width: 100px;
}
.item-info {
  display: flex;
  align-items: center;
  justify-content: center;

}
.order-description {
  width: 90%
}

h4 {
  margin: 0;
}
.btn-container {
  display: flex;
  justify-content: center;
  background-color: #ff6347;
  margin-left: 70%;
}

.btn-container button {
  text-align: center;
  background-color: #fff;
  border: none;
  margin: 5%;
  align-self: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.total{
  text-align: center;
  background-color: #ff6347;
  color: #fff;
  padding: 10px;
  width: fit-content;
  font-size: large;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 8px;
}
.customer-data {
  text-align: center;
  display: block;
  margin: 1%;
}

.customer-name, .customer-table{
  text-align: center;
  border-radius: 6px;
  background-color: #fff;
  margin: 5%;
  padding: 8px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.enviar-pedido {
  border: none;
  width: 100px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: #FFD700;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

/* estilização do modal de alerta pós envio para a cozinha*/
.alert-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.alert-modal:not([hidden]) {
  display: flex;
}

.alert-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.alert-content button {
  background-color: #ffa696;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.alert-content button:hover {
  background-color: #ff6347;
}


@media  screen and (max-width: 895px) {
  .order-categories {
    width: 250px;
   }
  .btn-container {
    margin-left: 65%;
  }
}

@media screen and (max-width: 760px) {
  .order-categories {
    width: 185px;
    padding: 3px;
   }

   .item-name {
    width: 70px;
  }

  .item-price, .item-qtd {
    width: 40px;
  }
  h4 {
    font-size: 1rem;
  }
  .customer-name {
    max-width: 100px;
  }
  .btn-container {
    margin-left: 50px;
  }

  .cart-button {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 1023px) {
  .items-container {
  overflow-x: auto;
  overflow-y: auto;
  
}
}

@media screen and (max-width: 406px) {
  .order-categories {
    width: 160px;
    
   }
  
   .total {
    font-size: 1rem;
    padding: 5px;
   }
   .enviar-pedido {
    font-size: 1rem;
   }
}

@media screen and (max-width: 345px) {
  .order-categories {
    width: 140px;
    
   }

}