<main>
  <img
    src="../../../../assets/img/vintage-burger-logo.png"
    alt="Vintage Burger Logo"
    class="vintage-burger-logo"
  />
  <form class="login-form">
    <label for="email"></label>
    <input
      type="email"
      name="email-input"
      class="form-input"
      id="email-adress"
      placeholder="email@Exemplo.com"
    />
    <label for="password"></label>
    <input type="password" name="password-input" id="password-input" class="form-input" placeholder="Senha" />
    <p id="error-message"></p>
    <button type="submit" id="login-btn">Entrar</button>
  </form>
</main>
