main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.vintage-burger-logo {
    margin: 70px;
    width: 250px;
}

.login-form {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.form-input {
    width: 170px;
    margin: 10px 10px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#login-btn {
    font-size: 1.2rem;
    color:#FFD700;
    width: 200px;
    height: 30px;
    background-color: #FF6347;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 2px;
}

@media (min-width: 480px){
    .vintage-burger-logo{
        width: 400px;
    }

    .form-input {
        width: 350px;
        height: 50px;
        font-size: 1.8rem;
    }

    #login-btn {
        width: 350px;
        height: 50px;
        font-size: 1.8rem;
    }

    .login-form{
        margin: 35px;
    }
}

@media (min-width: 1024px){
    .vintage-burger-logo{
        width: 400px;
    }

    .form-input {
        width: 350px;
        height: 50px;
    }

    #login-btn {
        width: 350px;
        height: 50px;
    
    }

}

