header {
  background-color: #ff6347;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 70px;
  width: auto;
  margin-left: 20px;
}

.icon-container {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 40px 30px 10px 10px;

}


.header-icon {
  font-size: 2.2rem;
  color: white;
  transition: transform 0.2s;
}


.header-icon-label {
  visibility: hidden;
  text-align: center;
  font-size: 1rem;
  transition: opacity 0.2s;
  margin-top: 5px;
  height: 20px;
  
}

.icon-label:hover .header-icon-label {
  visibility: visible;
  opacity: 0.7;
  cursor: pointer;
}

.icon-label:hover .header-icon {
  transform: scale(1.4);
  cursor: pointer;
}

.icon-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-icon {
  font-size: 2.3rem;
  color: white;
  margin: 20px 30px 10px 10px;
}

.hamburger-button {
  border: none;
  background: none;
}

.menu-nav {
  list-style: none;
  padding: 0;
  position: absolute;
  width: max-content;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  right: 0; /* Align the menu to the right edge */
  top: 25; /* Position it just below the button */
  transform: translateX(-100%); /* Shift it fully to the left */
}

@media (max-width: 605px){
.icon-container {
  display: none;
}
}

@media (min-width:606px ) {
  .hamburger-button {
    display: none;
  }
}