header {
  background-color: #ff6347;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 70px;
  width: auto;
  
}

.icon-container {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 40px 30px 10px 10px;

}


.header-icon {
  font-size: 2.2rem;
  color: white;
  transition: transform 0.2s;
}


.header-icon-label {
  visibility: hidden;
  text-align: center;
  font-size: 1rem;
  transition: opacity 0.2s;
  margin-top: 5px;
  height: 20px;
  
}

.icon-label:hover .header-icon-label {
  visibility: visible;
  opacity: 0.7;
}

.icon-label:hover .header-icon {
  transform: scale(1.4);
}

.icon-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
