<app-header></app-header>
<main>
  <section class="orders-container">
    <section class="order-container" *ngFor="let order of ordersInProgress">
      <div class="order-header">
        <p class="order-number">#{{ order.id }}</p>
        <p class="order-table">Mesa: #{{ order.tableNumber }}</p>
        <p class="order-time">Hora do pedido: {{ order.dateEntry }}</p>
      </div>
      <p class="client-name">Cliente: {{ order.client }}</p>
      <div class="order-list">
        <div class="order-label">
          <h4 class="item-name">ITEM</h4>
          <h4 class="item-quantity">Qtd.</h4>
        </div>
        <div class="order-item" *ngFor="let product of order.products">
          <h4 class="item-name">{{ product.product.name }}</h4>
          <h4 class="item-quantity">{{ product.qty }}</h4>
        </div>
      </div>
      <button class="order-ready" *ngIf="role === 'chef'" (click)="updateOrderStatus(order, 'pronto')">
        <mat-icon>check_circle</mat-icon>
        PRONTO
      </button>
    </section>
  </section>
</main>
