/* Estilo base para todos os botões */
.product-button {
    background-color: #FFD700;
    color: #fff;
    border: none;
    cursor: pointer;
    margin:2%;
    width: 60px;
    height: 40px;
    border-radius: 10%;
  }
  
  /* Estilo para o botão selecionado */
  .selected-button {
    background-color: #C7A800; 
    color: #fff;
    border: none;
    margin:2%
  }
  

.product-image {
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 40%;
    border-radius: 10%;
  }

.product-name{
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
  
  .product-card {
    border: 1px solid #ccc; /* Borda sólida */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    margin: 10px; 
    background-color: #FFA696; 
    border-radius: 8px;
    flex: 1; /*Distribui o espaço horizontal igualmente*/
    width: 100px;
    height: 200px;
  }

  .product-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Cria duas colunas de igual tamanho */
  gap: 20px; /* Espaçamento entre os cards */
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 20px; /* Espaçamento entre os cards */
  grid-template-rows: auto auto; /* Duas linhas de altura automática */
}

  .cart-button{
  background-color: #FF6347;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 35px; 
  height: 35px; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  @media (min-width: 1054px) {
    .cards-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
