h2{
  color: #fff;
  text-align: center;
}

.type-options {
  text-align: center;
  margin: 3%;
}
/* Estilo base para todos os botões */
.product-button {
    background-color: #FFD700;
    color: #fff;
    border: none;
    cursor: pointer;
    margin:2%;
    width: 60px;
    height: 40px;
    border-radius: 10%;
  }
  
  /* Estilo para o botão selecionado */
  .selected-button {
    background-color: #C7A800; 
    color: #fff;
    border: none;
    margin:2%
  }
  

.product-image {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50%;
    border-radius: 10%;
  }

.product-btn{
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #ff6347;
  border-radius: 5%;
  width: 100%;
  height: fit-content;
  text-align: center;
  margin-top: 30%;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5% 5% 5% 5%
}
  
.product-card {
  border: 1px solid #ccc; /* Borda sólida */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px; 
  margin: 10px; 
  background-color: #FFA696; 
  border-radius: 8px;
  flex: 1; /*Distribui o espaço horizontal igualmente*/
  width: 150px;
  height: 220px;
}

  .product-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Cria duas colunas de igual tamanho */
  gap: 20px; /* Espaçamento entre os cards */
  grid-template-rows: auto auto;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 20px; /* Espaçamento entre os cards */
  grid-template-rows: auto auto; /* Duas linhas de altura automática */
}


  @media (min-width: 1054px) {
    .cards-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }