<app-header></app-header>
<body>
<main>
  <section class="product-container">
    <section class="edit-frame">
    <div class="product-info">
      <div class="product-name">Produto: pão de queijo</div>
      <div class="product-type">tipo: lanches</div>
      <div class="product-price">valor: R$ 5,00</div>
    </div>
      <div class="button-container">
      <button class="edit-product">
       <mat-icon>edit</mat-icon>
      </button>
      <button class="delete-product">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    </section>
  </section>
</main>
</body>