.admin-search{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-item{
  width: 40%;
  padding: 8px;
  margin: 40px;
  border-radius: 8px;
}

.table-hover tbody tr:hover {
  background-color: #0f4347; 
  cursor: pointer;
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%; 
  color: #000;
  margin-bottom:50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

th, td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: center;
}

button{
  border-radius: 6px;
  border: none;
  cursor: pointer;
}


