<app-header></app-header>
<div class="admin-page" *ngIf="role === 'admin'">
  <div class="search-header">
    <input
      type="text"
      class="search-item"
      [(ngModel)]="searchText"
      placeholder="Pesquisar por produto ou tipo"
    />
    <button mat-fab class="custom-fab" (click)="openCreateModal()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Produto</th>
        <th scope="col">Tipo</th>
        <th scope="col">Preço (R$)</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.type }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button class="edit-btn" (click)="openEditModal(product)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button class="delete-btn" (click)="showDeleteModal(product)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- modal de edição de produto -->
  <div class="modal" [hidden]="!isModalVisible" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Editar produto</h2>
        </div>
        <div class="form-container">
          <div class="form-group">
            <label for="editName">Nome do Produto:</label>
            <input
              type="text"
              id="editName"
              [(ngModel)]="currentEditingProduct.name"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="editPrice">Preço do Produto (R$):</label>
            <input
              type="number"
              id="editPrice"
              [(ngModel)]="currentEditingProduct.price"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="editType">Tipo do Produto:</label>
            <select
              id="editType"
              [(ngModel)]="currentEditingProduct.type"
              class="form-control"
            >
              <option value="Cafés">Cafés</option>
              <option value="Almoços">Almoços</option>
              <option value="Lanches">Lanches</option>
              <option value="Bebidas">Bebidas</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="editProduct()" class="modal-btn">
            <mat-icon>save</mat-icon>
          </button>
          <button (click)="closeEditModal()" class="modal-btn">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Alerta pós edição de produto -->
  <div class="edit-alert-modal" [hidden]="!isEditAlertVisible">
    <div class="alert-content">
      <p>
        O produto {{ currentEditingProduct.name }} foi alterado com sucesso!
      </p>
      <button (click)="closeEditAlert()">Fechar</button>
    </div>
  </div>

  <!-- Modal de exclusão de produto -->
  <div class="delete-modal" [hidden]="!isDeleteModalVisible">
    <div class="alert-content">
      <p>Você deseja excluir o produto {{ currentEditingProduct.name }}?</p>
      <button
        (click)="deleteProduct(currentEditingProduct)"
        class="delete-modal-btn"
      >
        Sim
      </button>
      <button (click)="closeDeleteModal()" class="delete-modal-btn">Não</button>
    </div>
  </div>

  <!-- Alerta pós exclusão de produto -->
  <div class="delete-alert-modal" [hidden]="!isDeleteAlertVisible">
    <div class="alert-content">
      <p>Produto {{ currentEditingProduct.name }} excluído com sucesso!</p>
      <button (click)="closeDeleteAlert()">Fechar</button>
    </div>
  </div>

<!-- Modal de criação de produto -->
<div class="modal" [hidden]="!isCreateModalVisible" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Adicionar produto</h2>
      </div>
      <div class="form-container">
        <div class="form-group">
          <label for="newProductName">Nome do Produto:</label>
          <input
            type="text"
            id="newProductName"
            [(ngModel)]="newProduct.name"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="newProductPrice">Preço do Produto (R$):</label>
          <input
            type="number"
            id="newProductPrice"
            [(ngModel)]="newProduct.price"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="newProductType">Tipo do Produto:</label>
          <select
            id="newProductType"
            [(ngModel)]="newProduct.type"
            class="form-control"
          >
            <option value="Cafés">Cafés</option>
            <option value="Almoços">Almoços</option>
            <option value="Lanches">Lanches</option>
            <option value="Bebidas">Bebidas</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="createProduct()" class="modal-btn">
          <mat-icon>save</mat-icon>
        </button>
        <button (click)="closeCreateModal()" class="modal-btn">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Alerta pós exclusão de produto -->
<div class="create-alert-modal" [hidden]="!isCreateAlertVisible">
  <div class="alert-content">
    <p>Produto {{newProduct.name}} adicionado com sucesso!</p>
    <button (click)="closeCreateAlert()">Fechar</button>
  </div>
</div>

</div>