
<html>
    <head>
        
    </head>
    <body>
        <main>
            <h2 class="home-welcome">Bem vindo(a) {{ role }} </h2>
            <button class="home-options">NOVO PEDIDO 
                <mat-icon class="icons">note_add</mat-icon>
            </button>
            <button class="home-options">PEDIDOS PRONTOS
                <mat-icon class="icons">check_circle</mat-icon>
            </button>
            <button class="home-options">PEDIDOS EM ANDAMENTO
                <mat-icon class="icons">watch_later</mat-icon>
            </button>
          </main>
    </body>
</html>

