.page-container {
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
}
  
  .new-orders-container,
  .order-summary-container {
    flex: 1;
    height: 90vh; /* Define a altura para ocupar 100% da altura da viewport */
    overflow: auto; /* Adiciona rolagem se o conteúdo exceder a altura da seção */
}

  /* Estilização da barra de rolagem */
.new-orders-container::-webkit-scrollbar,
.order-summary-container::-webkit-scrollbar {
  width: 4px; /* Largura da barra de rolagem */
}

.new-orders-container::-webkit-scrollbar-thumb,
.order-summary-container::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Cor do fundo da barra de rolagem */
  border-radius: 4px; /* Arredondamento da parte que você arrasta */
}

.new-orders-container::-webkit-scrollbar-thumb:hover,
.order-summary-container::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Cor do fundo da barra de rolagem ao passar o mouse */
}
  
.order-summary-container {
    background-color: #FFA696;
    margin-right: 0%;
    max-width: 40%;
}

.new-orders-container {
   background-color: #1F9FA7;
   margin-top: 20px; 
}

@media (min-width: 1054px) {
  .order-summary-container {
    max-width: 30%;
  }
}

@media (max-width: 480px) {
  .order-summary-container {
    max-width: 55%;
  
}
.new-orders-container, .order-summary-container {
  height: 110vh;
}
}
  