main {
  display: flex;
  justify-content: center;
 }
 
 .employeeList-container {
   margin: 50px;
   display: flex;
   background-color: #ffa696;
   width: 300px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
     rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }
 
 .edit-frame {
   display: flex;
   flex-direction: column;
   background: #ff6347;
   align-items: center;
   color: white;
   border-radius: 5px;
   padding: 10px;
   width: 100%;
 }
 
 .employeeList-info {
  align-self: start;
  margin: 10px 10px 50px 10px;
 }
 
 .button-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
 }
 
 .edit-employeeList, .delete-employeeList {
   background-color: #ffa696;
   text-align: center;
   margin: 8px;
   border-radius: 5px;
   width: 100px;
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border: none;
   color: #fff;
 }
 
 mat-icon {
   margin: 2%;
 }