<app-header></app-header>

<body>
<main>
  <section class="employeeList-container">
    <section class="edit-frame">
    <div class="employeeList-info">
      <div class="employeeList-name">Funcionário: Pedro Silva</div>
      <div class="employeeList-type">Cargo: garçom</div>
      <div class="employeeList-price">E-mail: pedro@vburger.com</div>
    </div>
      <div class="button-container">
      <button class="edit-employeeList">
       <mat-icon>edit</mat-icon>
      </button>
      <button class="delete-employeeList">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    </section>
  </section>
</main>
</body>
